<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simperium">
	<listeners>
		<listener class-name="simperium.test.listeners.SkipUnsupportedOperationsListener"/>
		<listener class-name="simperium.test.http.InterruptedHttpRequestListener"/>
	</listeners>
	<test name="HTTP Requests">
		<classes>
			<class name="simperium.test.HTTPRequestTests"/>
		</classes>
	</test>
</suite>